<%= render "shared/header" %>
<h1>WALLETページです</h1>
<BR>
<h1>WALLETページです</h1>
<BR>
<h1>WALLETページです</h1>
<BR>
<% @wallets.each do |wallet| %>
  <%= link_to wallet_path(wallet.id) do %>
    <span>〇〇さんのWALLET</span><BR>
  <% end %>
<% end %>
<BR>
<BR>
<h1>WALLETページです</h1>
<BR>
<h1>WALLETページです</h1>
<BR>
<h1>WALLETページです</h1>
<BR>
<%= render "shared/footer" %>
