<%= render "shared/second-header"%>
<h1>こちらに通帳内容が入ります。</h1>
<br>
<h1>こちらに通帳内容が入ります。</h1>
<br>
<h1>こちらに通帳内容が入ります。</h1>
<br>
<h1>こちらに通帳内容が入ります。</h1>
<br>
<h1>こちらに通帳内容が入ります。</h1>
<br>
<%= render "shared/second-footer"%>
